/* ================================
   SIDEBAR
================================ */

.sidebar{

    position: fixed;

    top: 0;
    left: 0;

    width: 260px;
    height: 100vh;

    background: #111827;

    padding: 25px 20px;

    display: flex;
    flex-direction: column;

    border-right: 1px solid rgba(255,255,255,0.08);

}

/* ================================
   LOGO
================================ */

.logo{

    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 45px;

}

.logo img{

    width: 50px;
    height: 50px;

    border-radius: 50%;

}

.logo h2{

    color: white;
    font-size: 24px;
    font-weight: 600;

}

/* ================================
   MENU
================================ */

.sidebar ul{

    list-style: none;

}

.sidebar ul li{

    display: flex;
    align-items: center;

    gap: 15px;

    padding: 15px 18px;

    margin-bottom: 12px;

    border-radius: 12px;

    color: #CBD5E1;

    cursor: pointer;

    transition: all .3s ease;

}

.sidebar ul li i{

    width: 22px;

    font-size: 18px;

}

/* Hover */

.sidebar ul li:hover{

    background: #7C3AED;

    color: white;

    transform: translateX(6px);

}

/* Active */

.sidebar ul li.active{

    background: #7C3AED;

    color: white;

}

/* ================================
   VERSION
================================ */

.version{

    margin-top: auto;

    text-align: center;

    color: #64748B;

    font-size: 13px;

}